# Dependencies
node_modules/

# Build
dist/
build/

# Environment (MAXFIY — hech qachon commit qilinmasin)
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Prisma
prisma/migrations/dev.db
